MEW
MEWTWO
HERBIZARRE
FLORIZARRE
REPTINCEL
DRACAUFEU
TORTANK
CARABAFFE
PAPILUSION
DARDARGNAN
ARBOK
PIKACHU
RAICHU
SABLAIREAU
NIDOQUEEN
NIDOKING
MELODELFE
MELOFEE
FEUNARD
GOUPIX
RONDOUDOU
GRODOUDOU
RAFFLESIA
ORTIDE
PARASECT
AEROMITE
TRIOPIKEUR
TAUPIQUEUR
MIAOUSS
PERSIAN
AKWAKWAK
COLOSSINGE
FEROSINGE
CANINOS
ARCANIN
TETARTE
TARTARD
KADABRA
ALAKAZAM
MACHOPEUR
MACKOGNEUR
BOUSTIFLOR
EMPIFLOR
TENTACRUEL
GRAVALANCH
RACAILLOU
GOLEM
PONYTA
GALOPA
FLAGADOSS
MAGNETON
CANARTICHO
MAGNETI
DODRIO
LAMANTINE
GROTADMORV
CRUSTABRI
SPECTRUM
ECTOPLASMA
HYPNOMADE
KRABBOSS
ELECTRODE
NOADKOKO
OSSATUEUR
HITMONLEE
TYGNON
SMOGOGO
RHINOFEROS
HYPOCEAN
INSECATEUR
LIPPOUTOU
MR_MIME
STAROSS
ELEKTEK
MAGMAR
SCARABRUTE
TAUROS
LEVIATOR
LOKHLASS
METAMORPH
AQUALI
VOLTALI
PYROLI
PORYGON
AMONISTAR
KABUTOPS
PTERA
RONFLEX
ARTIKODIN
ELECTHOR
SULFURA
DRACOLOSSE
